.reward-cards-wrapper {
  width: 90%;
  margin: auto;
  padding: 60px 0;
}

.reward-card {
  position: relative;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 24px;
  margin-bottom: 24px;
  height: 430px;
}

.reward-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  display: block;
  margin: auto;
}

.next-btns {
  width: 100%;
  text-align: center;
  padding: 10px 0 100px 0;
  display: flex;
  justify-content: center;
}

.view-rewards-btn {
  position: absolute;
  bottom: 16px;
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
}

#track {
  padding: 4px 1px;
  width: 30px;
  border-radius: 50%;
  color: white;
  background-color: grey;
  margin: 20px;
  cursor: pointer;
}

.trackActive {
  background-color: rgb(56, 48, 48) !important;
}

@media only screen and (max-width: 600px) {
  .reward-cards-wrapper-2 {
    display: none;
  }

  .reward-cards-wrapper-1 {
    display: block;
    width: 60%;
  }
  .reward-card {
    width: 100%;
    margin: 30px 0;
  }
}
