.rewards-individual-page {
  width: 96%;
  margin: 24px auto;
}

.tweet-section {
  background-color: #f7f7f7;
  text-align: center;
  padding: 60px 0;
}

/* Right Section Done here   */
/*---------- Reward individual heading--------- */
.rewards-individual-heading {
  width: 80%;
  margin: 50px auto;
}

.reward-image-wrapper {
  width: 100%;
  height: 300px;
  border: 1px solid grey;
  align-items: center;
  margin: 30px 0 0 0;
}

.reward-image-wrapper img {
  position: relative;
  padding: 30px 0;
  height: 100%;
  background-size: contain;
  margin: auto;
  display: block;
}
/*---------- Reward Description--------- */
/* .reward-description {
  width: 80%;
  margin: auto;
  display: flex;
} */
/* Green Round Draw Circle style */
.detail-per-draw {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #015f01;
  margin: 16px 0;
}

.detail-per-draw p {
  margin: 0;
  color: white;
  line-height: 1.3;
}
.detail-per-draw p:first-child {
  margin-top: -12px;
}
/* Right Section ... All reward details and login */
.reward-detail {
  width: 90%;
  padding: 10px 0 10px 10%;
}
.reward-detail h4 {
  margin: 25px 0;
}
.login-btn-for-reward {
  width: 270px;
  padding: 15px 0;
  margin: 20px 0;
  background-color: #fcf14f;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  font-weight: 500;
}

/*---------- Reward Sepcification--------- */

.reward-specification {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.reward-specification ul {
  position: relative;
  width: 100%;
  height: 150px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1em;
}

#noble-mission-logo {
  position: relative;
  top: 23px;
  margin-left: 15px;
  display: inline-block;
  width: 150px;
}

#goto-top {
  display: none;
}

/* Responsive Layout */

@media only screen and (max-width: 960) {
  .rewards-individual-page {
    display: block;
    width: 100%;
  }

  .reward-image-wrapper {
    height: 250px;
  }
  .reward-description {
    display: block !important;
  }
  .draw-detail {
    margin-top: -30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .reward-detail {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .login-btn-for-reward {
    margin: 0;
  }
  #Brought {
    display: block !important;
    text-align: center;
  }
  .reward-specification ul {
    display: block;
    height: auto;
  }
  #brought-by {
    display: block;
    margin-bottom: 0;
    margin-top: 100px;
    text-align: center;
  }

  #noble-mission-logo {
    display: block;
    margin: 20px auto 40px auto;
    top: 0;
  }
  .tweet-section {
    background-color: white;
  }

  .tweet-icon-box {
    width: 50%;
    padding: 40px 20px;
  }

  #goto-top {
    width: 60px;
    padding: 20px 0;
    display: block;
    margin: 40px auto;
    border: 1px solid #015f01;
    text-align: center;
    color: #015f01;
    text-decoration: none;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .detail-per-draw {
    width: 80px;
    margin: 0px 2px;
  }
}
