form {
    width: 600px;
    margin: 50px auto;
}

h1, h5, h6 {
    text-align: center;
}

h5, h6 {
    color: #60ab30;
}

#text-area {
    border-radius: 10px;
}

.drag-n-drop{
    border: 1px dashed gray;
    width: 600px;
    height: 150px;
    background-color:#f1f1f1;
    border-radius: 10px;
}

.drag-n-drop p {
    color: #60ab30;
    font-size: 15px;
    text-align: center;
    padding: 70px;
}

.submit-report-btn {
    background-color: #057f16;
    width: 150px;
    height: 50px;
    color: white;
    border: 0;
    border-radius: 5%;
    margin-left: 50%;
    transform: translate(-100%,0);
}