.our-office{
    text-align: center;
    width: 80%;
    margin: auto;
}

.get-in-touch{
    display: flex;
}

@media only screen and (min-width: 576px) and (max-width:1000px){
    .col-sm-3 {
        flex: none;
        max-width: none;
    }
    
    .col-sm-9 {
        flex: none;
        max-width: none;
    }
}