/* * { overflow: hidden;} */
.area-covering {
  width: 100%;
  height: 90px;
}

.navbar-routes {
  font-size: 17px;
  color: black;
}

.navbar-routes:hover {
  color: #057f16;
}

.header {
  position: absolute;
  height: 90px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgb(236, 213, 213);
}

.drop-down-items {
  width: inherit;
  text-align: left;
  background-color: white;
  padding: 10px 10px;
  border: calc(1px - 0.8px) solid #292b2c;
}

.drop-down-icons {
  font-size: 20px !important;
  margin-right: 7px;
  color: #5cb85c !important;
}

.drop-down-links {
  color: black;
}

.drop-down-links:hover {
  color: #5cb85c
}

.drop-down {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 200px;
  top:90px;
}

.res-menu-btn {
  display: none;
} /* <---- Menu button is disabled */

.logo-image,
.side-btn {
  flex: 20%;
  text-align: center;
}

.links {
  flex: 60%;
}

.search-button {
  color: grey;
  font-size: 20px;
}

.search-input {
  outline: none;
  border: none;
  transition: 0.4s;
  border-bottom: 2px solid grey;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  width: 0px;
  height: 30px;
}

.search-box {
  position: absolute;
  right:20%;
  top:32px;
}

/*                                            ^-- All four section width is defined*/
/*-------  Logo section  --------*/

.logo {
  width: 130px;
}

/*---------- links section --------------*/

.links ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.links ul li:hover {
  color: #057f16;
}

.links ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 30px;
}

.links ul li {
  padding: 0 25px;
  text-align: center;
}

/*--------------  Side btn Section  -----------*/

.side-btn i {
  cursor: pointer;
  font-size: 25px;
  background: none;
  border: none;
  color: rgb(57, 65, 65);
}

.login,
.signup {
  margin-left: 10px;
  height: 30px;
  width: 80px;
  border: 1px solid #057f16;
  border-radius: 10px;
  outline: none;
}
.login {
  background-color: white;
  color: #057f16;
}

.signup {
  background-color: #057f16;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .row{
    margin-right: 0px;
  }

  .links {
    display: none;
  }
  .login,
  .signup {
    display: none;
  }

  .header{
    position: static;
  }
  .res-menu-btn {
    display: block;
    flex: 20%;
    text-align: center;
  }
  .res-menu-btn a {
    font-size: 40px;
    color: black;
  }

  .res-menu-btn a{
    text-decoration: none;
  }

  .logo{
    width: 80px;
  }

  .logo-image {
    flex: 60%;
  }
  /* .header{position: fixed; width: 100%; } */
  .side-btn {
    flex: 20%;
  }

  .side-btn-auth{
    flex: none;
  }

  .fa-angle-down{
    top: 25px !important;
    left: -25px !important;
    font-size: 25px !important;
  }

}


@media only screen and (max-width: 400px){
  .side-btn.row{
    margin-right: 20px;
  }

  img.logo.small{
    width: 60px;
    padding: 5px;
  }

  .res-menu-btn > .link{
    font-size: 20px;
    margin-left: 20px;
  }

  .ml-3 > div > img {
    width: 30px;
    height: 30px;
  }

  .fa .fa-times{
    margin-left: 20px;
  }
} 





