.menu{
    width: 70%;
    background-color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 1;
    animation: animate 0.5s linear;
}

@keyframes animate{
    0%{
        left: -100%;
    }
}

.menu ul{ list-style: none;}
.menu ul li{ padding: 15px 45px; color: black; font-weight: bolder; border: 1px solid rgba(0, 0, 0, .1)}

.social-links{
    display: flex;
    height: 10vh;
    padding: 30px 40px;
    background-color: #057f16;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.social-links a{
    text-decoration: none;
    color: #057f16;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: white;
}


/* Login and signup button style */

.btns{
    padding: 20px 40px;
    color: #057f16;
    background-color: white;
    border: none;
    outline: none;
    width:100%;
    font-weight: bolder;
    text-align: left;
}

.btn-icon{ font-size: 20px; padding-right: 20px; vertical-align: text-bottom;}

@media (min-width: 1000px){
    .navbar{
        display: none;
    }

}

@media only screen and (max-width: 1000px){
    .social-links a{
        width: 40px;
        height: 40px;
    }

    .social-links{
        padding: 30px;
    }

    ul{
        padding-left: 0px;
    }

    .btns{
        padding: 5px 40px;
    }

   
}