#Link{text-decoration: none;}
.head{ position: fixed; height: inherit; background-color: white; display: flex; justify-content: center; align-items: center; width: 100%; z-index: 100; border-bottom: 1px solid rgb(236, 213, 213);}

.logo-image{ width: 15%;  text-align: right; } .logo{ width:130px; }
.links{ width:63%; padding-left: 50px; }
.fa-search{ width:2%; text-align: right;}
#profileBar{ width:20%; height: 90px; }
                                    /* Navigation Links Style */
.links ul li{ 
    list-style: none; 
    color: black; 
    font-weight: 700; 
    padding: 25px;
    text-align: center;
}
.links ul li:hover{ color: #057F16; }

.links ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}


                                    /* Search button style */
                                    .null{display:none;}
.search-bar-input{                                     
    display:block;
    position: absolute;                                        
    top: 30px;                                        
    left:65%;                                        
    height: 30px;                                        
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 5px; 
    padding: 10px;
}
                                    
.fa-search{
    cursor: pointer;
    font-size: 25px;
    background: none;
    border: none;
    /* margin: auto; */
    color: rgb(57, 65, 65);
}
.fa-search:hover{transform: scale(1.1); color:#057f16}



/* ---------------------------- */
/* User Profile bar style */
/* --------------------------- */



.profile-info{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic{
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.profile-menu-up-down-button{
    padding-left: 20px;
    font-size: larger;
    color: #057f16;
}

.profile-menu{
    background-color: white;
}

#logout{color:#60AB30}
.mobile-layout{display: none;}


.menu-style-btn{
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 15px 0 10px;
    border: none;
}

.menu-style-btn li{
    font-weight: 500;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.menu-style-btn i{
    padding-right: 20px;
    color: #057f16;
    font-size: 20px;
}

.menu-style-btn button{
    cursor: pointer;
    padding: 5px 20px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #057F16;
    border-radius: 8px;
}
#side-btn i{ display:none}
.login{background-color: white; color: #057F16;}
.signup{background-color: #057F16; color: white;}




/* 
---------------------->
                        ------------------->
 Responsive Style                              ----------------->
                        -------------------->
---------------------->
*/



@media only screen and (max-width: 600px){

    .web-layout{ display:none }
    .mobile-layout{ display:flex }
    
    .res-menu-btn{ flex:15%; text-align: center; font-size: 40px; }
    .logo-image { flex:60%; text-align: center; }
    .fa-search{ flex: 10%; margin-right: 20px;}
    #profieBar{ flex: 10%; }
    .links{ width: 100%; padding: 0;}


    .search-bar-input{
        left: 60%;
        top: 95px;
    }

    .profile-menu{
        z-index: 102;
        position: relative;
        width:300px;
        left: -160%;
    }

    .profile-info div, .profile-info i{
        display: none;
    }




/* --------------------           --------------- */
/*      Menu Bar Style            --------------- */
/* --------------------           --------------- */




    .responsive-navigation-menu{
        background-color: white;
        display: block;
        width: 60%;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 90px;
        left: 0;
        height: 100vh;
        animation: animate 0.5s linear;
    }


    .links ul{display: block; padding: 0;}
    .links ul li{text-align:left; border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding: 20px 0 20px 40px;}

    .menu-style-btn button{
        border: none;
        padding: 20px 40px;
        color: #057f16;
        background-color: white;
        border: none;
        outline: none;
        width:100%;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
    }

    .social-links{
        display: flex;
        height: 10vh;
        padding: 30px 40px;
        background-color: #057f16;
        color: white;
        justify-content: space-around;
        align-items: center;
    }
    
    .social-links a{
        text-decoration: none;
        color: #057f16;
        font-size: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        background-color: white;
    }
}

@keyframes animate{
    0%{
        left: -70%;
    }
}