.profile{
    width: 90%;
    margin: auto;
    height: 90px;
}
.profile-name{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic{
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.show-profile-menu-btn{
    padding-left: 20px;
    font-size: larger;
    color: #057f16;
}

.profile-menu{
    background-color: white;
}

.profile-menu-items{
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.profile-menu-items li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 15px 0 15px 20px;
    cursor: pointer;
}

.profile-menu-items i{
    padding-right: 20px;
    color: #057f16;
    font-size: 20px;
}
#logout{color:#60AB30}

@media only screen and (max-width: 600px){
    .profile-name div, .profile-name i{
        display: none;
    }
}