.modalclose {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 50%;
  background-color: #605f61;
  font-size: 25px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.simple-line {
  overflow: hidden;
  text-align: center;
  margin-top: 12px;
}

.simple-line:before,
.simple-line:after {
  content: "";
  display: inline-block;
  background-color: #000;
  height: 1px;
  vertical-align: middle;
  width: 50%;
}
