.box{
    height: 150px;
    width: 200px;
    margin: 0 70px;
    background-color: white;
    display: flex;              /* just to make things in center */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 15px rgba(0, 0, 0, .09), 4px 10px rgba(0, 0, 0, .05);
}

.number{
    font-weight: bold;
    font-size: 50px;
}

.achivement-component{ display: flex;}

@media only screen and (max-width: 1000px){

    .achivement-component{
        width: 90%;
        display: block;
    }

    .box{
        width: 90%;
        flex-direction: row;
        margin: auto;
        margin-bottom: 20px;
        height: auto;
    }

    .number,.title{ 
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    
    .title{
        text-align: left;
        flex: 60%;
    }

    .number{
        flex: 70%;
        font-weight: 400;
    }

    p.title{
        font-weight: 400;
    }

}


