.overview{
    background-image: url('/assests/education.png');
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center !important;
}

/*-------- Links on right side -------------*/
.overview-social-links{ 
    text-align: right; 
    padding: 20px 100px 20px 20px;
}

.overview-social-links a{
    color: white;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
}

/*----------- Paragraph ------------*/

.paragraph p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* width: 490px; */
    text-align: center;
}

.join{
    padding: 0 115px;
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joinCommunity-btn{
    margin-top: .5cm;
    background-color: #F3E404;
    font-size: 1em;
    font-weight: bolder;
    font-family: sans-serif;
    width: 300px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .overview-social-links{ display: none; }
    .overview{ height: 65vh;}

    .join{
       width: 80%;
       margin: auto;
       padding: 0;
       padding-top: 100px;
       /* padding-bottom: 700px; */
    }
}


