.home-tweet-section-wrapper,
.home-reward-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-setcion4-heading::after {
  content: "";
  height: 3px;
  width: 200px;
  margin: 0 auto 40px auto;
  background-color: black;
  display: block;
}

@media only screen and (max-width: 480px) {
  .home-tweet-section-wrapper,
  .home-reward-section-wrapper {
    display: block;
  }
}
