.section5{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 50px 0px;
    margin-top: 50px;
}

.left-section{
    width: 90%;
    text-align: center;
}
hr{
    width: 200px;
    margin: auto;
    height: 4px;
    background-color: black;
    margin-top: 8px;
}

.box-wrapper{
    display: flex;
    margin: 40px 0px;
    width: 90%;
    margin: auto;
}

.btn{
    color: #057f16;
    background-color: transparent;
    border: 2.5px solid #057f16;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 36px;
    width: 100%;
    padding-top: 2px;
}

.icon-box, .image-box{
    text-align: center;
    font-weight: 600;
    width: 30%;
    margin: auto;
    padding: 15px;
    border: none;
    border-radius: 40px;
    /* box-shadow: 7px 10px  */
    box-shadow: 3px 9px 11px rgba(0, 0, 0, .2);
}

.icon-box img{ width: 60px; margin-bottom: 15px; }
.icon-box h3{ font-weight: bold; margin-bottom: 15px;  }
.icon-box p{ margin-bottom: 30px; text-align: left; line-height: 25px;}
.icon-box a{ color: #057f16; }

.image-box img{ width: 150px; height: 100px; padding-bottom: 15px; }
.image-box h4,h3{ margin-bottom: 10px; }

/*--------- Left Section done here -------------*/

/* ------------- Right Section Start -------------- */

.tweet-box{
    display: flex;
    width: 400px;
    height: 70px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    margin: 5px 2px;
    padding: 15px;
}

div.tweet-wrapper > div:nth-of-type(odd){
    background-color: whitesmoke;
}

.tweet-box img{
    height: 50px;
    border-radius: 50%;
    padding: 0 10px;
}

@media only screen and (max-width:600px){

    .left-section{width: 100%;}
    .right-section{ display: none; }
    .box-wrapper{ display: block;}
    .icon-box,.image-box{ width: 85%;}
    
}