.about-noble-mission{
    padding-top: 100px;
    text-align: center;
    width: 60%;
    margin: auto;
}

#about-noble-mission-heading-divider{ width : 320px}

.about-noble-mission-paragraph{
    padding: 50px 15px;
    line-height: 2;
    font-weight: 500;
    /* letter-spacing: 3px; */
}

#noble-mission-page-btn{
   text-decoration: none;
   padding: 12px 35px;
   background-color: #057F16;
   color: white;
   border-radius: 5px;

}

@media only screen and (max-width: 600px){
    .about-noble-mission{
        width: 90%;
    }
}