.donate-money {
    background-color: #f2f0ed;
    font-size: 16;
    border-radius: 15px;
    cursor: pointer;
}

.donate-money-background {
    background-color: #f2f0ed;
}


@media only screen and (max-width: 1000px){
    .donations-flex{
        width: 60%;
        margin: 0px auto;
    }
    
    .donations{
        flex-wrap: nowrap;
    }

    .mobile-row-twitter{
        margin-right: -15px;
        display: block;
    }   
    
    
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .donation-main-section{
        margin: 0px auto;
        max-width: 80%;
    }

    .donations-flex{
        margin-left: 33.333333%;
    }

    .up-button-tablet-design{
        left: 46% !important;

    }


}

@media only screen and (max-width: 1000px){
   .text-aligning{
       text-align: center;
       padding: 0px 30px;
   }
} 