.vote-bar {
    height: 7px;
}
.radio-button {
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}
.percentage-label {
    margin-top: -5px;
    margin-left: -10px;
}