.vote-bar {
    height: 7px;
}
.radio-button {
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}
.percentage-label {
    margin-top: -5px;
    margin-left: -10px;
}

@media only screen and (max-width: 1000px){
    .textarea-mobile-design{
        width: 100% !important;
        margin: 10px;
        height: 300px !important;
    }

    .ipad-options-design{
        flex-wrap: unset !important;
    }

    .ipad-bullets-design{
        width: auto;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 768px){
    .ipad-design {
        max-width: 80%;
        height: auto;
        margin: 50px auto;
    }

    .textarea-mobile-design{
        width: 80% !important;
        height: 400px !important;
    }
    
    .up-button-tablet-design{
        left: 46% !important;

    }

}