.reward-cards-wrapper{
    width: 100%;
    padding: 40px 0;
}


.reward-cards-wrapper-1, .reward-cards-wrapper-2{
    width: 90%;
    margin: auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reward-card{
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 10px 10px 5px rgba(170, 158, 158, 0.6), 5px 20px 20px 5px rgba(170, 158, 158, 0.06);
}

.reward-image{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    display: block;
    margin: auto;
}

.reward-card h4,.reward-card h5{
    margin: 15px 0;
}

.next-btns{
    width: 100%;
    text-align: center;
    padding: 10px 0 100px 0;
    display: flex;
    justify-content: center;
}

#track{
    padding: 5px 0;
    width: 30px;
    border-radius: 50%;
    color: white;
    background-color: grey;
    margin: 20px;
    cursor: pointer;
}

.active{
    background-color: rgb(56, 48, 48);
}

@media only screen and (max-width: 600px){
    .reward-cards-wrapper-2{
        display: none;
    }

    .reward-cards-wrapper-1{
        display: block;
        width: 60%;
    }
    .reward-card{
        width: 100%;
        margin: 30px 0;
    }
}